@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<iframe src="https://giphy.com/embed/xFpT7lMV5Mkqq0E6YM" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/xFpT7lMV5Mkqq0E6YM">via GIPHY</a></p>
